{% extends 'admin/base_site.html' %}
{% load static %}

{% block content %}
    <h1>Cteate post from {{ item }} item</h1>
    <div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                {% for field in form %}
                    <div class="form-row field-{{ field.name }}">
                        <div>
                            {{ field.errors }}
                            {{ field.label_tag }} 
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="submit-row">
            <input type="submit">
        </div>
    </form>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/global.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
<!-- <script type="text/javascript" src="/admin/jsi18n/"></script> -->
<script type="text/javascript" src="{% static 'media/admin/js/core.js' %}"></script>
{% endblock %}